Repository fastapi/asyncer, pull requests merged in 2024-01, with the labels that each got.

#90 ✨ Add support for AnyIO 4.x, drop support for Python 3.7
  .github/actions/comment-docs-preview-in-pr/Dockerfile
  .github/workflows/test.yml
  asyncer/_main.py
  pyproject.toml
  tests/test_tutorial/test_soonify_return/test_tutorial002.py
Labels: feature

#87 ✨ Export (import and re-export) `TaskGroup` from `asyncer`
  asyncer/__init__.py
Labels: feature

#89 🐛 Add missing dependency `typing_extensions` for Python < 3.10
  pyproject.toml
Labels: bug

#108 👷 Enable tests for Python 3.12 in CI
  .github/workflows/test.yml
Labels: internal

#110 🔧 Update classifiers for Python 3.11 and Python 3.12
  pyproject.toml
Labels: internal

#112 🔧 Add Ruff config
  asyncer/__init__.py
  pyproject.toml
Labels: internal

#113 📝 Update docstring for `syncify()`, fix name of parameter `raise_sync_error` (remove unused parameter name `check_called_from_async`)
  asyncer/_main.py
Labels: docs

#120 👷 Update Publish CI Python version to 3.11
  .github/workflows/publish.yml
Labels: internal
