Repository fastapi/asyncer, pull requests merged in 2024-08, with the labels that each got.

#172 👷 Refactor GitHub Action to comment docs deployment URLs and update token, preparing for GitHub org
  .github/actions/comment-docs-preview-in-pr/Dockerfile
  .github/actions/comment-docs-preview-in-pr/action.yml
  .github/actions/comment-docs-preview-in-pr/app/main.py
  .github/workflows/deploy-docs.yml
  requirements-github-actions.txt
  scripts/comment_docs_deploy_url_in_pr.py
Labels: internal

#173 👷 Update issue-manager.yml GitHub Action permissions
  .github/workflows/issue-manager.yml
Labels: internal

#174 👷 Update issue-manager
  .github/workflows/issue-manager.yml
Labels: internal

#175 🔧 Enable auto dark mode
  mkdocs.yml
Labels: internal

#177 👷 Show docs deployment status and preview URLs in comment
  .github/workflows/deploy-docs.yml
  scripts/comment_docs_deploy_url_in_pr.py
  scripts/deploy_docs_status.py
Labels: internal

#179 👷 Update docs-previews to handle no docs changes
  .github/workflows/deploy-docs.yml
  scripts/deploy_docs_status.py
Labels: internal

#178 👷 Add alls-green for test-redistribute
  .github/workflows/test-redistribute.yml
Labels: internal

#180 👷 Upgrade build docs configs
  .github/workflows/build-docs.yml
  docs/help.md
  docs/index.md
  docs/js/custom.js
  docs/tutorial/soonify-return.md
  mkdocs.insiders.yml
  mkdocs.maybe-insiders.yml
  mkdocs.no-insiders.yml
  mkdocs.yml
  requirements-docs-insiders.txt
  requirements-docs.txt
  scripts/docs.py
  scripts/mkdocs_hooks.py
Labels: internal

#181 💄 Update Termynal line-height
  docs/css/termynal.css
Labels: internal

#183 🔧 Update MkDocs previews
  mkdocs.insiders.yml
  mkdocs.yml
Labels: internal

#184 📝 Add docs about repo management and team
  data/members.yml
  docs/about/index.md
  docs/css/custom.css
  docs/management-tasks.md
  docs/management.md
  docs/resources/index.md
  docs/tutorial/index.md
  mkdocs.yml
Labels: docs

#185 🔨 Update docs.py script to enable dirty reload conditionally
  scripts/docs.py
Labels: internal

#186 📝 Change links from github.com/tiangolo/asyncer to github.com/fastapi/asyncer
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/privileged.yml
  .github/workflows/issue-manager.yml
  CITATION.cff
  README.md
  docs/help.md
  docs/index.md
  docs/management-tasks.md
  mkdocs.yml
  pyproject.toml
Labels: internal

#187 👷 Add GitHub Action add-to-project
  .github/workflows/add-to-project.yml
Labels: internal

#188 👷 Update GitHub Action add-to-project
  .github/workflows/add-to-project.yml
Labels: internal

#189 👷 Add GitHub Action labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: internal

#190 👷 Add GitHub Action label-checker
  .github/workflows/labeler.yml
Labels: internal

#191 👷 Update GitHub Action labeler permissions and dependencies
  .github/workflows/labeler.yml
Labels: internal

#192 👷 Update GitHub Action labeler to put only one label
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: internal

#194 👷 Do not sync labels as it overrides manually added labels
  .github/workflows/labeler.yml
Labels: internal

#195 🔧 Add URLs to `pyproject.toml`, show up in PyPI
  pyproject.toml
Labels: internal

#196 🔧 Update converage configs
  .github/workflows/test.yml
  .gitignore
  pyproject.toml
  scripts/test.sh
Labels: internal

#197 🔥 Remove unused scripts
  scripts/docs-live.sh
  scripts/test-files.sh
Labels: internal

#200 📝 Add docs references to FastAPI's docs on virtual environments and new contributing guide
  docs/contributing.md
  docs/tutorial/install.md
  mkdocs.yml
Labels: docs

#84 ♻️ Update `asyncify` to wrap the function with `functools.wraps` like the other functions
  asyncer/_main.py
Labels: refactor

#201 ♻️ Import `anyio.from_thread` and `anyio.to_thread` explicitly
  asyncer/_main.py
Labels: refactor

#202 ♻️ Deprecate `asyncify(cancellable=True)` in favor of `asyncify(abandon_on_cancel=True)`, following AnyIO 4.1.0
  .github/workflows/test.yml
  asyncer/_compat.py
  asyncer/_main.py
  tests/test_param_cancellable.py
Labels: refactor

#203 👷 Update `latest-changes` GitHub Action
  .github/workflows/latest-changes.yml
Labels: internal
